

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 75%;
}

#headertest {
  text-align: left;
  width: 100%;
}

#tweet-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#tweet-text {
  background-color: #ffffff;
  resize: none;
  width: 100%;
  margin-bottom: 0.5em;
  border-bottom: solid black 5px;
}

#new-tweet-submit {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
  margin-bottom: 30px;
}
#new-tweet-submit .tweet-btn {
  background-color: transparent;
  color: #3f626b;
  border: solid #74daf3 2px;
  border-radius: 4px;
  transition-duration: 0.5s;
}

#new-tweet-submit .tweet-btn:hover {
  background-color: #3f626b;
  color: white;
}

@media only screen and (max-width: 600px) {
  .new-tweet {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}